---
section: playground
---
{{#replace "title"}}
<title>Codius Playground</title>
{{/replace}}

{{#append "styles"}}
<link rel="stylesheet" type="text/css" href="{{asset "css/playground.css"}}" />
{{/append}}

{{#replace "header-container-class"}}
{{/replace}}

{{#replace "meta-viewport"}}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{{/replace}}

{{#replace "brand-contents"}}
Codius <span>P<span class="hidden-sm hidden-xs">lay</span>g<span class="hidden-sm hidden-xs">round</span></span>
{{/replace}}

{{#prepend "header-menu"}}
  <div class="navbar-left">
    <a href="#" id="toolbar-run" class="btn btn-success navbar-btn"><i class="icon-play"></i><span class="hidden-xs hidden-sm">&nbsp;Run</span></a>
  </div>
  <div class="navbar-right">
    <a href="#" id="toolbar-settings" class="btn btn-default navbar-btn"><i class="icon-cog"></i><span class="hidden-xs hidden-sm">&ensp;Settings</span></a>
  </div>
{{/prepend}}

<div id="editor">function sayHello() {
  console.log('Hello, World');
}

for (var i = 0; i < 5; i++) {
  sayHello();
}</div>

<div id="output">Uploading contract...
Testing 123
Hello world</div>

{{#replace "footer"}}
{{/replace}}

<script src="{{asset "js/ace/ace.js"}}" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.setOptions({
    fontFamily: "source-code-pro",
    fontSize: "10pt"
  });
  editor.getSession().setMode("ace/mode/javascript");
</script>
</body>
</html>
