@import "https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "../css/bootflat.css";
@import "codius/colors";
@import "codius/icons";
@import "codius/util";

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  max-height: 100%;
  font-family: "adelle-sans", sans-serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;
  background: #333;
  font-feature-settings: 'kern' 1;
}

.canvas {
  background: $canvas-bg-color;
}

h1 {
  font-weight: 100;
  font-size: 4.5rem;
}

h2 {
  font-weight: 100;
  font-size: 3.5rem;
}

h3 {
  font-weight: 700;
  font-size: 3rem;
}

.btn {
  font-size: 1.6rem;
}

a {
  color: $accent-color;
}

a:hover {
  color: $accent-color-light;
}

hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: $accent-color;
  border-color: $accent-color;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: $accent-color-light;
  border-color: $accent-color-light;
}

.home-template .navbar .container {
  max-width: 840px;
}

.home-template .container {
  max-width: 710px;
}

header.main-header {
  height: 50px;
}

.navbar-fixed-top {
  border: 0;
}

#navbar-logo {
  background-color: $accent-color;
  color: #fff;
  font-size: 21px;
}

#navbar-brand {
  color: #ddd;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0;
}

#navbar-brand span {
  font-weight: 400;
  color: $accent-color;
}

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #aaa;
  transition: all 0.5s ease;
}

.navbar-inverse .navbar-nav > li > a > i:after {
  content: '\2002';
}

.main-header .navbar .container {
  position: relative;
}

.navbar-header {
  float: left;
}

.canvas {
  position: relative;
}

.drawer {
  display: none;
  position: fixed;
  width: 250px;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-bottom: 50px;
}
.navigating .drawer {
  display: block;
}

#drawer-nav li {

}
#drawer-nav li > a {
  color: #fff;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
}

#drawer-nav li > a:hover {
  background-color: #000;
}

#drawer-nav li > a > i:after {
  content: '\2002';
}

#drawer-subnav li {
  margin-top: 0;
}

#drawer-subnav li>a {
  font-size: 1.5rem;
  padding: 3px 15px 3px 0;
  font-weight: 300;
  transition: all 0.5s ease;
}

#drawer-subnav li>h4 {
  font-size: 1.7rem;
  font-weight: 300;
  color: #888;
  padding: 1em 0 0.2em 15px;
}
#drawer-subnav li li>a {
  padding-left: 30px;
  color: #fff;
}

#drawer-subnav li>a:hover {
  background-color: #000;
  color: #fff;
}

.main-header a.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: 2em;
  background: transparent;
  color: #aaa;
  transition: all 0.5s ease;
}

.main-header a.btn:hover {
  color: #fff;
  border-color: #fff !important;
}

footer {
  font-size: 1.4rem;
}

.footer-logo a {
  white-space: nowrap;
  color: #aaa;
}

.footer-logo i {
  font-size: 2.2rem;
  vertical-align: middle;
}

.footer-logo span {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 10px;
  vertical-align: middle;
}

.footer-nav .nav-title {
  font-size: 2rem;
  font-weight: 400;
}

.footer-nav .nav-item {
}

/* Responsive sidebar menu */
@media (max-width: 767px) {
  body {
    overflow: hidden;
  }

  .canvas {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

  /* Navbar toggle */
  .navbar-inverse .navbar-header {
    cursor: pointer;
  }

  .navbar-inverse .navbar-toggle {
    position: absolute;
    background: transparent;
    border: 0;
    top: 7px;
    left: 0;
    margin: 0;
    transition: all 0.5s ease;
    transform: translate3d(4px,0,0);
    z-index: 1;
  }

  .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 4px;
    transition: all 0.5s ease;
  }

  .navbar-inverse .navbar-toggle .icon-bar:nth-child(1) {
    transform: translate3d(0,8px,0) rotate3d(0,0,1,45deg);
  }

  .navbar-inverse .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-inverse .navbar-toggle .icon-bar:nth-child(3) {
    transform: translate3d(0,-8px,0) rotate3d(0,0,1,-45deg);
  }

  .navbar-inverse .navbar-header #navbar-logo {
    box-sizing: border-box;
    width: 50px;
    padding-left: 15px;
    padding-right: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    transform: translate3d(35px,0,0);
    opacity: 0;
  }

  .navbar-inverse .navbar-header.collapsed #navbar-logo {
    padding: 15px;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  .navbar-inverse .navbar-header.collapsed .navbar-toggle .icon-bar {
    transform: none;
    opacity: 1;
  }

  .navbar-inverse .navbar-header:hover .navbar-toggle, .navbar-inverse .navbar-toggle:focus {
    background: transparent;
  }

  .navbar-inverse .navbar-header.collapsed .navbar-toggle {
    transform: translate3d(-25px,0,0);
  }


  /*.navbar-inverse .navbar-header.collapsed:hover #navbar-logo {
    transform: translate3d(6px,0,0);
  }

  .navbar-inverse .navbar-header.collapsed:hover .navbar-toggle {
    transform: translate3d(-18px,0,0);
  }*/

  /* Sidebar */
  .canvas {
    transform-origin: 0 50%;
    perspective: 500px;
    transition: all 0.5s ease;
  }
  .navigating .canvas {
    opacity: 0.5;
    transform: translate3d(265px, 0, 0) scale3d(0.9, 0.9, 1);
    box-shadow: 0 0 25px #000;
  }


  // Navbar should disappear when zoomed in
  .main-header {
    transition: opacity 1s ease;
  }
  .zoomed .canvas {
    top: 0;
    padding-top: 50px;
  }
  .zoomed .main-header {
    opacity: 0;
  }
}
