.docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 1.3rem;
}
