@import "codius/colors";

.docs-sidebar {
  margin: 0 -15px 2em;
  box-shadow: none;
  color: #999;
}

.docs-sidebar .nav>li {
  margin: 0;
}

.docs-sidebar .nav>li>h4 {
  font-weight: 400;
  font-size: 1.7rem;
  margin: 1.5em 0 0.4em;
  padding: 0 15px;
}

.docs-sidebar .nav>li>a {
  color: #999;
  padding: 4px 20px;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.2s ease;
}

.docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 1.3rem;
}

.docs-sidebar .nav>li>a:hover {
  background-color: $accent-color;
  color: #fff;
}
