{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "codius-circleci-us-west-1",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "quay.io/codius/codius.org:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8080"
    }
  ]
}
