@import "https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "bootflat.css";
@import "icons.css";

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #eceff1;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: "adelle-sans", sans-serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;
  background: #eceff1;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

h1 {
  font-weight: 100;
  font-size: 4.5rem;
}

h2 {
  font-weight: 100;
  font-size: 3.5rem;
}

h3 {
  font-weight: 700;
  font-size: 3rem;
}

.btn {
  font-size: 1.6rem;
}

hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}

.home-template .navbar .container {
  max-width: 840px;
}

.home-template .container {
  max-width: 710px;
}

header.main-header {
  height: 50px;
}

.navbar-fixed-top {
  border: 0;
}

#navbar-logo {
  background-color: #3f51b5;
  color: #fff;
  font-size: 21px;
}

#navbar-brand {
  color: #ddd;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0;
}

#navbar-brand span {
  font-weight: 400;
  color: #e51c23;
}

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #aaa;
  transition: all 0.5s ease;
}

.main-header a.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: 2em;
  background: transparent;
  color: #aaa;
  transition: all 0.5s ease;
}

.main-header a.btn:hover {
  color: #fff;
  border-color: #fff !important;
}

footer {
  font-size: 1.4rem;
}

.footer-logo a {
  white-space: nowrap;
  color: #aaa;
}

.footer-logo i {
  font-size: 2.2rem;
  vertical-align: middle;
}

.footer-logo span {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 10px;
  vertical-align: middle;
}

.footer-nav .nav-title {
  font-size: 2rem;
  font-weight: 400;
}

.footer-nav .nav-item {
}
