#editor {
  position: absolute;
  top: 52px;
  left: 0;
  right: 50%;
  bottom: 0;
}

.main-header {
  display: none;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
