@font-face {
	font-family: 'codius-icons';
	src:url('../fonts/codius-icons.eot?1qdqkt');
	src:url('../fonts/codius-icons.eot?#iefix1qdqkt') format('embedded-opentype'),
		url('../fonts/codius-icons.woff?1qdqkt') format('woff'),
		url('../fonts/codius-icons.ttf?1qdqkt') format('truetype'),
		url('../fonts/codius-icons.svg?1qdqkt#codius-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'codius-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e612";
}
.icon-file:before {
	content: "\e610";
}
.icon-home:before {
	content: "\e60e";
}
.icon-logo:before {
	content: "\e600";
}
.icon-quill:before {
	content: "\e60f";
}
.icon-connection:before {
	content: "\e602";
}
.icon-credit:before {
	content: "\e603";
}
.icon-bubbles:before {
	content: "\e604";
}
.icon-users:before {
	content: "\e605";
}
.icon-key:before {
	content: "\e606";
}
.icon-lock:before {
	content: "\e607";
}
.icon-cog:before {
	content: "\e60a";
}
.icon-play:before {
	content: "\e609";
}
.icon-googleplus:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60c";
}
.icon-twitter:before {
	content: "\e60d";
}
.icon-feed:before {
	content: "\e611";
}
.icon-github:before {
	content: "\e601";
}
.icon-gauge:before {
	content: "\e608";
}
.icon-stats:before {
	content: "\e613";
}
