@import "https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import url(../css/bootflat.css);
/**
 * prism.js Monokai theme for CSS & Sass/Scss
 *
 * @todo test for JavaScript & HTML
 *
 * @author @MoOx
 */
@font-face {
  font-family: 'codius-icons';
  src: url("../fonts/codius-icons.eot?1qdqkt");
  src: url("../fonts/codius-icons.eot?#iefix1qdqkt") format("embedded-opentype"), url("../fonts/codius-icons.woff?1qdqkt") format("woff"), url("../fonts/codius-icons.ttf?1qdqkt") format("truetype"), url("../fonts/codius-icons.svg?1qdqkt#codius-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'codius-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-js:before {
  content: "\e614"; }

.icon-logo:before {
  content: "\e600"; }

.icon-arrow-left:before {
  content: "\e612"; }

.icon-file:before {
  content: "\e610"; }

.icon-home:before {
  content: "\e60e"; }

.icon-quill:before {
  content: "\e60f"; }

.icon-connection:before {
  content: "\e602"; }

.icon-credit:before {
  content: "\e603"; }

.icon-bubbles:before {
  content: "\e604"; }

.icon-users:before {
  content: "\e605"; }

.icon-key:before {
  content: "\e606"; }

.icon-lock:before {
  content: "\e607"; }

.icon-cog:before {
  content: "\e60a"; }

.icon-play:before {
  content: "\e609"; }

.icon-googleplus:before {
  content: "\e60b"; }

.icon-facebook:before {
  content: "\e60c"; }

.icon-twitter:before {
  content: "\e60d"; }

.icon-feed:before {
  content: "\e611"; }

.icon-github:before {
  content: "\e601"; }

.icon-gauge:before {
  content: "\e608"; }

.icon-stats:before {
  content: "\e613"; }

/* Clears stuff */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Hides stuff */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto; }

/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle; }

.fixed {
  position: fixed; }

.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 20px;
  width: 100%;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.rangeslider {
  position: relative; }

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeslider__fill {
  background: #009688;
  position: absolute;
  top: 0; }

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%; }

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  border-radius: 50%; }

.rangeslider__handle:active {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12)); }

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9); }

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  height: 100%;
  max-height: 100%;
  font-family: "adelle-sans", sans-serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;
  background: #333;
  -webkit-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1; }

.canvas {
  background: #eceff1; }

h1 {
  font-weight: 100;
  font-size: 4.5rem; }

h2 {
  font-weight: 100;
  font-size: 3.5rem; }

h3 {
  font-weight: 700;
  font-size: 3rem; }

.btn {
  font-size: 1.6rem; }

a {
  color: #009688; }

a:hover {
  color: #00c9b6; }

hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #e0e0e0; }

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #009688;
  border-color: #009688; }

.btn-primary:hover, .btn-primary:focus {
  background-color: #00c9b6;
  border-color: #00c9b6; }

.home-template .navbar .container,
.post-template .navbar .container,
.author-template .navbar .container {
  max-width: 840px; }

.home-template .container {
  max-width: 710px; }

header.main-header {
  height: 50px; }

.navbar-fixed-top {
  border: 0; }

#navbar-logo {
  background-color: #009688;
  color: #fff;
  font-size: 21px; }

#navbar-brand {
  color: #ddd;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0; }

#navbar-brand span {
  font-weight: 400;
  color: #009688; }

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #aaa;
  transition: all 0.5s ease; }

.navbar-inverse .navbar-nav > li > a > i:after {
  content: '\2002'; }

.main-header .navbar .container {
  position: relative; }

.navbar-header {
  float: left; }

.canvas {
  position: relative; }

.drawer {
  display: none;
  position: fixed;
  width: 250px;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-bottom: 50px; }

.navigating .drawer {
  display: block; }

#drawer-nav li > a {
  color: #fff;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem; }

#drawer-nav li > a:hover {
  background-color: #000; }

#drawer-nav li > a > i:after {
  content: '\2002'; }

#drawer-subnav li {
  margin-top: 0; }

#drawer-subnav li > a {
  font-size: 1.5rem;
  padding: 3px 15px 3px 0;
  font-weight: 300;
  transition: all 0.5s ease; }

#drawer-subnav li > h4 {
  font-size: 1.7rem;
  font-weight: 300;
  color: #888;
  padding: 1em 0 0.2em 15px; }

#drawer-subnav li li > a {
  padding-left: 30px;
  color: #fff; }

#drawer-subnav li > a:hover {
  background-color: #000;
  color: #fff; }

.main-header a.btn {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: 2em;
  background: transparent;
  color: #aaa;
  transition: all 0.5s ease; }

.main-header a.btn:hover {
  color: #fff;
  border-color: #fff !important; }

footer {
  font-size: 1.4rem; }

.footer-logo a {
  white-space: nowrap;
  color: #aaa; }

.footer-logo i {
  font-size: 2.2rem;
  vertical-align: middle; }

.footer-logo span {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 10px;
  vertical-align: middle; }

.footer-nav .nav-title {
  font-size: 2rem;
  font-weight: 400; }

.footer-nav .nav-title a {
  color: #e6e9ed; }

/* Responsive sidebar menu */
@media (max-width: 767px) {
  body {
    overflow: hidden; }
  .canvas {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
  /* Navbar toggle */
  .navbar-inverse .navbar-header {
    cursor: pointer; }
  .navbar-inverse .navbar-toggle {
    position: absolute;
    background: transparent;
    border: 0;
    top: 7px;
    left: 0;
    margin: 0;
    transition: all 0.5s ease;
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
    z-index: 1; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 4px;
    transition: all 0.5s ease; }
  .navbar-inverse .navbar-toggle .icon-bar:nth-child(1) {
    -webkit-transform: translate3d(0, 8px, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(0, 8px, 0) rotate3d(0, 0, 1, 45deg); }
  .navbar-inverse .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0; }
  .navbar-inverse .navbar-toggle .icon-bar:nth-child(3) {
    -webkit-transform: translate3d(0, -8px, 0) rotate3d(0, 0, 1, -45deg);
    transform: translate3d(0, -8px, 0) rotate3d(0, 0, 1, -45deg); }
  .navbar-inverse .navbar-header #navbar-logo {
    box-sizing: border-box;
    width: 50px;
    padding-left: 15px;
    padding-right: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transform: translate3d(35px, 0, 0);
    transform: translate3d(35px, 0, 0);
    opacity: 0; }
  .navbar-inverse .navbar-header.collapsed #navbar-logo {
    padding: 15px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .navbar-inverse .navbar-header.collapsed .navbar-toggle .icon-bar {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  .navbar-inverse .navbar-header:hover .navbar-toggle, .navbar-inverse .navbar-toggle:focus {
    background: transparent; }
  .navbar-inverse .navbar-header.collapsed .navbar-toggle {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  /*.navbar-inverse .navbar-header.collapsed:hover #navbar-logo {
    transform: translate3d(6px,0,0);
  }

  .navbar-inverse .navbar-header.collapsed:hover .navbar-toggle {
    transform: translate3d(-18px,0,0);
  }*/
  /* Sidebar */
  .canvas {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-perspective: 500px;
    perspective: 500px;
    transition: all 0.5s ease; }
  .navigating .canvas {
    opacity: 0.5;
    -webkit-transform: translate3d(265px, 0, 0) scale3d(0.9, 0.9, 1);
    transform: translate3d(265px, 0, 0) scale3d(0.9, 0.9, 1);
    box-shadow: 0 0 25px #000; }
  .main-header {
    transition: opacity 1s ease; }
  .zoomed .main-header {
    opacity: 0; } }

dt {
  float: left;
  clear: left;
  width: 180px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap; }

dd {
  margin-left: 200px;
  margin-bottom: 1em; }
