{{#append "styles"}}
<link rel="stylesheet" type="text/css" href="{{asset "css/front-page.css"}}" />
{{/append}}

{{#replace "body"}}
<body class="near-top">
{{/replace}}
<section class="hero text-center">
  <div style="height: 200px">
  <div class="animation">
    <svg height="200" width="600" viewBox="0 0 3000 1000">
      <defs>
        <clipPath id="section-sign-clip">
          <path d="M1000-0.000004999999999810711l0 999.999995 1000 0 0-999.999995-1000 0z m506.78125 181.812495l112.71875 0 0 68.1875-121.8125 0c-13.9 0-25.8 3.3-35.5 10-9.7 6.7-14.5 17.00625-14.5 30.90625l0 36.40625c0 14.5 3.9125 25.2125 11.8125 31.8125 8.5 6.1 19.08125 9.09375 31.78125 9.09375l26.40625 0c40.6 0 71.4875 10.58125 92.6875 31.78125 21.2 21.2 31.8125 54.5 31.8125 100l0 4.5c0 23-3.9125 42.41875-11.8125 58.21875-7.3 15.8-16.6875 28.79375-28.1875 39.09375 8.5 6.7 15.2 17.3125 20 31.8125 4.8 14.5 7.3125 30.5875 7.3125 48.1875l0 9.09375c0 45.5-11.8 78.21875-35.5 98.21875-23.6 19.4-57.2125 29.09375-100.8125 29.09375l-112.6875 0 0-68.21875 121.78125 0c13.9 0 25.8-3.3 35.5-10 9.7-6.7 14.5-16.975 14.5-30.875l0-36.40625c0-27.3-13.3-40.90625-40-40.90625l-30 0c-40.6 0-71.4875-10.6125-92.6875-31.8125-21.2-21.2-31.8125-54.5-31.8125-100l0-4.5-0.0937 0c0-22.4 3.60625-42.09375 10.90625-59.09375 7.9-17 17.59375-29.6875 29.09375-38.1875-8.5-8.5-15.2-19.41875-20-32.71875-4.8-13.9-7.3125-29.68125-7.3125-47.28125l0-9.09375c0-45.5 11.8-77.9125 35.5-97.3125 23.6-20 57.30625-30 100.90625-30z m-40 254.59375c-21.2 0-31.78125 13.60625-31.78125 40.90625l0 40.90625c0 12.7 3.575 23.5875 10.875 32.6875 7.3 8.5 19.7125 12.71875 37.3125 12.71875l50 0c9.7 0 17.2875-3.3 22.6875-10 6.1-6.7 9.125-17.00625 9.125-30.90625l0-40.90625c0-12.1-3.025-22.7125-9.125-31.8125-5.5-9.1-18.1875-13.59375-38.1875-13.59375l-50.90625 0z"/>
        </clipPath>
      </defs>
      <g clip-path="url(#section-sign-clip)">
        <circle class="logo-anim-ripple" cx="1500" cy="500" r="500"/>
        <rect class="logo-anim-bg" x="1250" y="250" width="500" height="500" rx="166" ry="166"/>
      </g>
    </svg>
  </div>
  </div>
  <h1>Codius</h1>
  <h2><span>Where</span> <span>smart</span> <span>programs</span> <span>live.</span></h2>
  <div class="actions">
    <p>
      <a class="btn btn-primary" href="/docs/using-codius/setup-cli" role="button">Install</a>
      <!--&ensp;
      <a class="btn btn-default" href="/playground/" role="button">See live examples</a>-->
    </p>
  </div>
</section>
<div class="container-fluid">

</div>
<div class="hero-bgfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger"><strong>Fair warning:</strong> Codius is in beta, expect dragons.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>What is Codius?</h1>
        <p>Codius is an open hosting protocol. It makes it very easy to upload a program, whether you want it to run on one host or thousands.</p>
        <!--<div class="hostcount-logo"><i class="icon-logo"></i></div>
        <div><input type="range" class="hostcount-slide" min="1" max="999" value="1"></div>
        <pre class="hostcount-pre"><code>codius upload</code></pre>-->
        <p>It also has built-in billing. That means once a program is uploaded, anyone can pay to keep it running &mdash; the author, the users and even the program itself.</p>
        <p></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h2>Peer-to-peer Hosting</h2>
        <p>There are many ways to host reliable services. But they all require constant maintenance, abandoned projects die.</p>
        <p>Codius lets you turn your service into a peer-to-peer network. That means as long as there is one person out there using it, it'll keep running and it'll never be down.</p>
        <p><a class="btn btn-default" href="/docs/overview/for-hosting" role="button">Learn More &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Decentralized Apps</h2>
        <p>It's great that we have decentralized currencies like Bitcoin. But right now you have to choose between centralized, user-friendly and decentralized, annoying wallets.</p>
        <p>With Codius, you can get the best of both worlds.</p>
        <p><a class="btn btn-default" href="/docs/overview/for-dapps" role="button">Learn More &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Smart Contracts</h2>
        <p>When two people transact, they could write the terms of their transactions into code, but neither of them might trust the other to run it.</p>
        <p>Codius allows a third party to run it and attest to the integrity of the exact code it received.</p>
        <p><a class="btn btn-default" href="/docs/overview/for-contracts" role="button">Learn More &raquo;</a> <a class="btn btn-primary" href="#" role="button">Read the white paper &raquo;</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h1>Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4><i class="icon-gauge"></i>&ensp;Incredibly fast</h4>
        <p>Codius runs at close to native speeds.</p>
      </div>
      <div class="col-md-3">
        <h4><i class="icon-lock"></i>&ensp;Secure</h4>
        <p>State-of-the-art sandboxing means contracts are isolated from the host and from each other.</p>
      </div>
      <div class="col-md-3">
        <h4><i class="icon-bubbles"></i>&ensp;Polyglot</h4>
        <p>Codius' default language is JavaScript, but it supports C, C++, Python and more!</p>
      </div>
      <div class="col-md-3">
        <h4><i class="icon-connection"></i>&ensp;Connected</h4>
        <p>Codius can talk to anything connected to the internet.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4><i class="icon-credit"></i>&ensp;Built-in payments</h4>
        <p>Codius contracts can pay each other using a built-in micro-payments system.</p>
      </div>
      <div class="col-md-3">
        <h4><i class="icon-key"></i>&ensp;Built-in crypto</h4>
        <p>We built some of the tricky crypto like threshold signatures, so you don't have to.</p>
      </div>
      <div class="col-md-3">
        <h4><i class="icon-users"></i>&ensp;Here to stay</h4>
        <p>Codius is used by Ripple Labs for banking and enterprise integrations.</p>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</div>

{{#append "scripts"}}
<script src="{{asset "js/front-page.js"}}"></script>
{{/append}}
