<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="/">
        <i class="icon-logo"></i>
        <span>Codius</span>
      </a>
    </div>
    <dl class="footer-nav">
      <dt class="nav-title"><a href="/docs/">DOCS</a></dt>
      <dd class="nav-item"><a href="/docs/using-codius/getting-started">Getting started</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">RESOURCES</dt>
      {{!-- <dd class="nav-item"><a href="/playground/">Playground</a></dd> --}}
      <dd class="nav-item"><a href="https://medium.com/coil">Blog</a></dd>
      <dd class="nav-item"><a href="https://github.com/codius/">Github</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">COMMUNITY</dt>
      <dd class="nav-item"><a href="https://gitter.im/codius/codius-chat">Chat</a></dd>
      <dd class="nav-item"><a href="https://groups.google.com/forum/#!forum/codius/">Mailing list</a></dd>
    </dl>
  </div>
  <div class="footer-copyright text-center">
<!--     {{#if @blog}}<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>{{/if}} -->
    <section class="copyright">&copy; {{date format="YYYY"}} Codius</section>
  </div>
</footer>
