<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="#">
        <i class="icon-logo"></i>
        <span>Codius</span>
      </a>
    </div>
    <dl class="footer-nav">
      <dt class="nav-title">ABOUT</dt>
      <dd class="nav-item"><a href="#">Example</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">COMMUNITY</dt>
      <dd class="nav-item"><a href="https://gitter.im/codius/codius-chat">Chat</a></dd>
    </dl>
  </div>
  <div class="footer-copyright text-center">
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
  </div>
</footer>
